# ==== Bot de Telegram ====
BOT_TOKEN=8712973243:AAFOVHALR2QyFWzbwd9038uDdr9c6R1WHVw
GROUP_CHAT_ID=-1003923339149

# Cada cuántos segundos revisa el estado de los servicios (monitoreo automático)
CHECK_INTERVAL_SECONDS=30

# ==== Servidor 1 ====
SERVER1_NAME=Hernandez
SERVER1_HOST=161.132.50.36
SERVER1_PORT=22
SERVER1_USER=root
SERVER1_PASSWORD=abwqmYljVeKS

# ==== Servidor 2 ====
SERVER2_NAME=
SERVER2_HOST=
SERVER2_PORT=22
SERVER2_USER=root
SERVER2_PASSWORD=

# ==== Nombres reales de los servicios en el sistema (normalmente no hay que tocarlos) ====
SERVICE_APACHE=apache2
SERVICE_MYSQL=mariadb
SERVICE_FTP=vsftpd
